@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

html{
	/* position: relative; */
	padding:0;
	margin:0;
}

body{
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  height:150px;
  width:150px;
}

.home-page{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:500px) {
	.home-page{
		width:100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	  }
}


.home-img{
  margin : 0 2rem;
  width:40%;
  /* border: 2px solid black; */
 
  
}

.home-img img{
  border-radius:10px;
 height:100%;
 width:100%;
 box-shadow: 1px 1px 1px 2px rgb(71, 71, 71);
  border: 0.8px solid rgb(0, 0, 0)k;

}

.home-content{
  /* display: flex; */
  flex-direction: column;
  margin: 0 1rem;
  width:60%;
  line-height: 1.5;
}

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:1rem;
}

.button-89 {
  --b: 1.5px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #040404;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
/* 

.signup-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.5rem;
  margin-bottom:20px;
  border:1px solid black; 
  padding:5px;
  background-color: rgb(44, 43, 43);
  color:white;
  border-radius:5px;
} */

.signup-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:max-content;
  margin: 0 auto;
}

.links{
  color:black;
}

.links:hover{
  color: #757474;
}

.close-icon{
  cursor:pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom:10px;
}

.navbar{

display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
background-color: white;
color:black;
z-index: 1 !important;
border-bottom: 1px solid black;
position: sticky;
top:0;
}

.navbar img{
  height:130px;
  width:120px;
  border-radius: 50%;
}

.receiver-logo > img{
	height:130px;
	width:120px;
	border-radius: 50%;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
/* 
.Card{
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  border: 1px solid green;
  position: relative;
}
.CardTag{
  padding: 3px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  display: inline-block;
}
.CardInfoTags{
  display: flex;
  gap: 3px;

}
.CardBanner{
  height: 30%;
  width: 100%;
}
.CardBanner img{
  height: 6rem;
  width: 100%;
}
.CardAuthor{
  height: 4rem;
  width: calc(height);
  border-radius: 50%;
  position: absolute;
  top: 4rem;
  left: 38%;

}
.CardAuthor img{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.CardContent{
  margin-top: 2rem;
} */

/* card */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


/* body {
	background-image: linear-gradient(45deg, #7175da, #9790F2);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
} */

.courses-container {
	
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgb(29, 29, 29);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
	max-height: 20rem;
    min-height: 15rem;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.card-preview {
	background-color: #303030;
	color: #fff;
	padding: 30px;
	max-width :40%;
	min-width: 40%;
	word-wrap: break-word;
	word-break:normal;

}

.card-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	max-width: 60%;
	min-width: 60%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #1f1f1f;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

.btn:hover{
  color:rgb(206, 203, 203);  
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}


.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  position: relative;
  background-color: #121212;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #676767;
  color: #000;
}

.button:after {
  content: "";
  background: #686969;
  display: block;
  position: absolute; 
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: absolute;
  bottom:1.4rem;
  right:2rem;
  
}

.receiver{
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
.receiver-navbar{
  height: 8rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}


.receiver-content{
  display: flex;
  padding-top: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(35, 35, 35);
}

.publish-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.publish-request{
  overflow: auto;
}
.card-link2{
	color: rgb(123, 122, 122);
	font-size: 1.7rem;
	text-decoration: none;
}

.card-link2:hover{
	cursor: pointer;
	color: rgb(123, 122, 122);
}
.card-link:hover{
	cursor: pointer;
	color: rgb(123, 122, 122);
}
.view-details{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
/* align-items: center; */
}
.view-details-title h3{
	font-size: 1.5rem;
	color: black;
}
.view-details-author
{
	color: grey;
	padding: 0.5rem;
}
.view-details-fulldetails{
	padding: 0.5rem;
}
.view-details-pay{
	display: flex;
	justify-content: center;
	align-items: center;
}
.Tag{
	padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.hash-symbol{
	margin-right:5px;
	font-size: large;
}

.tag-words{
	color:black;
}

.MuiDrawer-root > div{
	width: 15% !important;;
}

.MuiDrawer-root > div{
	box-shadow:1px 0px 2px 1px gray;
}

.footer{
	height:100px;
	width:100%;
	background-color: rgb(62, 62, 62);
	position:absolute;
	bottom: 0;
}

.social-media{
	color:white;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.social-media > svg{
	margin : 1rem 1.5rem;
	cursor: pointer;
}

.social-media> svg:hover{
	color:rgb(179, 221, 247);
}

.copyright > span{
	font-size: 1.3rem;
	margin-right:5px;
}

.copyright{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
}

.no-content{
	display: flex;
	justify-content: center;
	align-items: center;
	border:2px solid black;
	padding:5rem;
	box-shadow: 2px 2px 2px 2px gray;

}

.no-content>h1{
	font-size: 4.5rem;
}